.space{

    height: 400px;

}

#formOne{
    display: none;
}
#formTwo{
    display: none;
}
#formThree{
    display: none;
}
#formFour{
    display: none;
}
#formFive{
    display: none;
}
#scoreEntry{
    display: none;
}